* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
html {
  height: 100%;
}
body {
  background-color: rgb(241, 241, 241);
}
nav {
  /* width: 100%; */
  background-color: #00994f;
  display: flex;
  height: 4rem;
  /* justify-content: center; */
  align-items: center;
  /* margin: 1rem; */
}
.rupee {
  font-size: 0.8rem;
  font-weight: 500;
}
footer {
  background-color: green;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 4rem;
}
.name {
  color: white;
  margin: 1rem;
  font-weight: 500;
  font-style: italic;
}
.logo {
  margin-left: 1rem;
  width: 50px;
  height: 50px;
}
.grid {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.gridContainer {
  display: flex;
  flex-wrap: wrap;
  /* margin: 1rem 0rem; */
  width: 90%;
  /* background-color: red; */

  /* justify-content: center; */
}
.gridItem {
  margin: 0.3rem;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: all 0.1s;
  /* justify-content: center; */
  /* align-items: f; */
}
.gridItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.gridImg {
  height: 300px;
  width: 300px;
}
.gridTitle {
  color: grey;
  font-size: 1rem;
}
.gridPrice {
  font-size: 1.3rem;
}

.productContainer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.productpglink {
  font-weight: 500;
  margin: 0.5rem 0rem;
}
.productpglink a {
  color: black;
  text-decoration: none;
}
.productImg {
  margin-right: 2rem;
}
.productPrice {
  font-size: 1.5rem;
  color: red;
}
.productContent {
  max-width: 50%;
}
.prodImg {
  height: 300px;
  width: 300px;
}
.productDesc {
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .prodImg {
    width: 90%;
    max-height: 35%;
    margin: 1rem 0;
    /* transform: scale(0.9); */
    align-self: center;
  }
  .productImg {
    margin-right: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .productContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  .productContent {
    margin-left: 1rem;
    max-width: 90%;
  }
  .productDesc {
    margin-top: 1rem;
  }
  footer {
    padding: 1rem;
    font-size: 0.5rem;
    font-weight: 400;
  }
  .grid {
    display: flex;
    /* justify-content: center; */
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .gridContainer {
    display: flex;
    flex-wrap: wrap;
    /* margin: 1rem 0rem; */
    width: 100%;
    /* background-color: red; */

    /* justify-content: center; */
  }
  .homea {
    text-decoration: none;
    width: 47%;
    margin: 0.3rem;
  }
  .gridItem {
    width: 100%;
    /* height: 55%; */
    /* height: ; */
    background-color: white;
    padding: 0rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: none;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: f; */
  }
  .gridItem:hover {
  }
  .gridImg {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 190px;
    width: 190px;
  }
  .gridTitle {
    margin-top: 1rem;
    color: grey;
    font-size: 0.8rem;
    font-weight: 300;
    /* word-wrap: break-word; */
  }
  .gridPrice {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    font-size: 1rem;
  }
}
